<!DOCTYPE html>
<html>
<head>
  <title>Ass</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    "scaffolds", :media => "all" %>
=======
  <%= stylesheet_link_tag    "application", :media => "all" %>
>>>>>>> fa8538d0de979c71eaa8f640258805ec9cc46b2d
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
